.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    color: white;
    background-color: rgb(25, 60, 150);
    /* background-color: red; */
}